/* 
culture shock: grass stains V1.2
pogy366 @ http://www.openwebdesign.org/userinfo.phtml?user=pogy366
Nov. 2005 
*/

/* general page structure and layout */
body {
font-family:Arial, Helvetica, sans-serif; 
font-size:.8em; 
color:#eeeeee; 
margin:10px 0 0 0;
padding:0 0 0 0;
background:#111111;
text-align:center;
}

.page_wrap {
position:relative;
width:960px;
margin:0 auto;
padding:0 0 0 0;
text-align:center;
background:#111111 url(images/header.jpg) no-repeat;
border-left:5px solid #550000;
border-right:5px solid #550000;
border-top:5px solid #550000;
}

.header_text {
position:relative;
clear:none;
width:950px;
height:22px;
margin:125px 0 20px 0;
padding:0 0 0 0;
background:transparent;
color:#550000;
text-align:right;
}

.topnav {
position:relative;
clear:both;
width:960px;
height:21px;
margin:0 0 0 0;
padding:0 0 0 0;
background:#222222;
font-size:.8em;
border-top:1px solid #550000;
}

.container {
position:relative;
clear:both;
width:940px;
margin:10px 10px 0 10px;
padding:0 0 0 0;
background:#111111;
color:#eeeeee;
text-align:left;
}

.container p {
margin:5px 0 10px 0;
padding: 0 0 0 0;
}

.box_right {
position:relative;
float:right;
clear:both;
width:360px;
margin:0 0 5px 10px;
padding:10px 10px 10px 10px;
background:#550000;
color:#eeeeee;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.8em;
}

.box_right p {
margin:5px 5px;
}

img.cnr {
background:#550000;
color:#550000;
width:8px;
height:8px;
border:none;
}

.footer {
position:relative;
clear:both;
width:960px;
height:90px;
color:#eeeeee;
margin:30px 0 0 0;
padding:4px 0 4px 0;
background:#000000 url(images/footer.png) no-repeat;
font-size:.8em;
text-align:center;
border-bottom:5px solid #550000;
}

/* top navigation bar */
#nav ul{
padding:0 0 0 0;
margin:0 0 0 0;
white-space: nowrap;
font-size:1.1em;
color:#333333;
float:left;
width:100%;
background:#333333;
list-style:none;
}

#nav ul li{
display:inline;
list-style:none;
}

#nav ul li a{
margin: 0 0 0 0;
padding: .25em 2em .3em 2em;
background:#333333;
color: #eeeeee;
text-decoration:none;
float: left;
border-right:1px solid #550000;
}

#nav ul li a:hover{
background:#550000 ;
color: #ffffff;
text-decoration:none;
border-right:1px solid #333333;
}


/* links */
a {
color:#D3812D;
text-decoration:underline;
}

a:hover {
color:#E39243;
text-decoration:none;
}

#box_right a {
color:#00eeff;
text-decoration:underline;
}

#box_right a:hover {
color:#E39243;
text-decoration:none;
}

#footer a {
color:#9EB874;
text-decoration:none;
}

#footer a:hover {
color:#4F6C1F;
text-decoration:none;
}

/* fonts and colors */
h1 {
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#ffffff;
font-size:2em;
letter-spacing:.5em;
text-transform:lowercase;
margin:0 0 0 0;
padding:0 0 0 0;
}

h2 {
font-family:Arial, Helvetica, sans-serif;
color:#eeeeee;
font-size:1.2em;
text-transform:capitalize;
font-weight:bold;
padding:0 0 0 0;
margin:0 0 -6px 0;
}

h3 {
font-family:Arial, Helvetica, sans-serif;
color:#eeeeee;
font-size:1.1em;
text-transform:capitalize;
font-weight:bold;
padding:0 0 0 0;
margin:0 0 -8px 0;
}

.box_right h3 {
font-size:1.5em;
margin:0 0 .5em 0;
}

.grey {
color:#999999;
}

/* images */
img {
border:none;
}

.right img {
position:relative;
float:right;
padding:0 0 0 0;
margin:5px 2px 2px 5px;
}

.left img {
position:relative;
clear:none;
float:left;
padding:0 0 0 0;
margin:5px 5px 2px 0;
}

/* workarounds and hacks */
.clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

